<?php

$dbuser		= "username";
$dbpass		= "password";
$dbname		= "database";
$dbhost		= "hostname";


try {

	$dbh = new PDO("mysql:host=$dbhost;dbname=$dbname;charset=utf8", $dbuser, $dbpass);
	$dbh->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);

} catch (PDOException $e) {

	echo $e->getMessage();

}

?>
